.search-container{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.form {
    display: inline-block;
}

.search-form input, button {
    border: 1px solid #55ACEE;
    border-radius: 8px;
    height: 38px;
    padding: 0 10px;
    outline: none;
    font-size: 17px;
}

.search-form button {
    width: 100px;
    background: #55ACEE;
    color: white;
    transition: .1s ease-in-out;
}


.search-form button:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.search-form input {
    width: 236px;
    margin-left: 20px;
    margin-right: 10px;
}

.search-form input:focus {
        background: #CCD6DD;

}