.cards-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.cards-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin-top: 40px;
}

.cards-header {
    margin-bottom: 80px;
}

.cards-header h3{
    text-transform: uppercase;
    font-family: Verdana;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 1px #E1E8ED solid;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 20px;

    background: #E1E8ED;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .1s ease-in-out;
}

.card:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3, p, a {
    padding-left: 8px;
    padding-right: 4px;
}

.card p {
    padding-top: 20px;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card img {
    padding-top: 12px;
    padding-bottom: 12px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}